page-forgot-password {
    .title {
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 26px;
        letter-spacing: 0.5px;
        color: #ffffff;
        margin-top: 95px;
    }
    .sub-title {
        font-size: 14px;
        margin-top: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 24px;
        letter-spacing: 0.3px;
        color: #6c6e7f;
    }
    .connect-form {
        margin-top: 9px;
    }
    .form-item {
        margin-top: 27px;
        &:not(.item-input-has-value) [name="email"] {
            input {
                background-image: url("../assets/icon/email.svg");
                background-repeat: no-repeat;
                background-position: 6px 6px;
            }
            ::placeholder {
                text-indent: 29px;
            }
        }
    }
    .connect-button {
        margin-top: 40px;
        width: 100%;
        line-height: 22px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.4px;
        text-align: center;
        color: #ffffff;
    }
}
