<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{constants.LANGS.PAGE_TITLE_CHANGE_PASSWORD}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form padding class="connect-form" [formGroup]="resetPasswordForm">
    <ion-item class="form-item">
      <ion-input type="password" name="oldPassword" formControlName="oldPassword" [placeholder]="constants.LANGS.LABEL_CURRENT_PASSWORD" class="error"></ion-input>
    </ion-item>
    <div class="field-validation-error" *ngIf="oldPassword.dirty && !oldPassword.valid">
      {{constants.ERRORS.INVALID_PASSWORD}}
    </div>
    <ion-item class="form-item">
      <ion-input type="password" name="newPassword" formControlName="newPassword" maxlength="18" [placeholder]="constants.LANGS.LABEL_NEW_PASSWORD"></ion-input>
    </ion-item>
    <div class="field-validation-error" *ngIf="newPassword.dirty && !newPassword.valid">
      {{constants.ERRORS.INVALID_PASSWORD}}
    </div>
    <ion-item class="form-item">
      <ion-input type="password" name="confirmPassword" formControlName="confirmPassword" maxlength="18" [placeholder]="constants.LANGS.LABEL_CONFIRM_PASSWORD"></ion-input>
    </ion-item>
    <div class="field-validation-error" *ngIf="confirmPassword.dirty && confirmPassword.value != newPassword.value">
      {{constants.ERRORS.INVALID_CONFIRM_PASSWORD}}
    </div>
    <default-button tappable (click)="setPassword()" class="set-button" [attr.disabled]="!newPassword.valid || !confirmPassword.valid"
      block text="{{constants.LANGS.LABEL_SET}}" text-uppercase></default-button>
  </form>
</ion-content>
