page-change-password {
    .form-item {
        &:not(:first-child) {
            margin-top: 25px;
        }
        &:not(.item-input-has-value) [type="password"] {
            input {
                background-image: url("../assets/icon/change-password.svg");
                background-repeat: no-repeat;
                background-position: 6px 1px;
            }
            ::placeholder {
                text-indent: 29px;
            }
        }
    }
    .set-button {
        margin-top: 46px;
    }
}
