<!--
  Generated template for the CoursePlanManagementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{constants.LANGS.LABEL_COURSE_PLAN}}</ion-title>
    <ion-buttons end>
        <button ion-button clear tappable (click)="openProfilePopover()">
          <img alt="" class="profile" src="assets/icon/profile.svg">
          </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="no-course" *ngIf="loaded && courses.length==0">
    <div>
      <img alt="" class="image-center" src="assets/imgs/course-plan-management/thumb.svg">
    </div>
    <div class="congrats-title">{{ user.userData.isCourseCreated == 0|| user.userData.isCourseCreated == "0" ? constants.LANGS.PAGE_LABEL_CONGRATS_0 : constants.LANGS.PAGE_LABEL_CONGRATS_1 }}</div>
    <default-button class="survey-button" block [text]="constants.LANGS.LABEL_SURVEY" (click)="openQuestionnaire()">
      </default-button>
  </div>

  <div class="container" *ngIf="loaded && courses.length > 0">
    <div class="slide-container">
      <ion-slides #slides pager (ionSlideDidChange)="avoidLastSlideIssue($event)">
        <ion-slide *ngFor="let course of courses" [navPush]="constants.PAGES.COURSE_PLAN" [navParams]="course">
          <img alt="" class="share" src="assets/imgs/course-plan-management/share.svg" tappable (click)="sharePlans()">
          <div class="course-name">{{course.name}}</div>
          <div class="corse-description">"{{course.description}}"</div>
          <div class="vitamin-container">
            <div class="vitamin-name" [ngStyle]="{'background-color':course.vitamin.backgroundColor}">{{getVitamin(course.vitamin.name)}}</div>
          </div>
          <div class="date-container">
            <div class="start-date-container">
              <div class="start-date">{{constants.LANGS.PAGE_LABEL_START_DATE}}</div>
              <div class="start-date-value">{{course.startDate | amFromUtc | amLocal | amDateFormat:'ll' }}</div>
            </div>
            <div class="end-date-container">
              <div class="end-date">{{constants.LANGS.PAGE_LABEL_END_DATE}}</div>
              <div class="end-date-value">{{course.endDate | amFromUtc | amLocal | amDateFormat:'ll' }}</div>
            </div>
          </div>
          <div class="duration-container">
            <div class="duration">{{constants.LANGS.PAGE_LABEL_DURATION}}</div>
            <div class="value">{{getDuration(course.startDate, course.endDate) + ' ' + constants.LANGS.LABEL_DAYS }}</div>
          </div>
          <div class="line"></div>
          <div class="status-container">
            <div class="status">{{course.isCompleted == 0? constants.LANGS.LABEL_IN_PROGRESS:constants.LANGS.LABEL_COMPLETED_ON}}</div>
            <div class="value" *ngIf="course.isCompleted == 1">{{course.completedOn}}</div>
          </div>
          <div class="mark-complete-container">
            <div class="mark-complete" [class.disabled]="!checkComplete(course.isCompleted, course.endDate)" tappable (click)="onComplete($event, course)">
              <img alt="" src="assets/imgs/course-plan-management/tick.svg">{{constants.LANGS.PAGE_LABEL_MARK_COMPLETE}}
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="bottom-container">
      <default-button (click)="openQuestionnaire()" class="survey-button" block [text]="constants.LANGS.LABEL_SURVEY_AGAIN">
      </default-button>
    </div>
  </div>

</ion-content>
