default-button {
    width: inherit;
    /* make it parameterised*/
    background-color: color($colors, appBlue);
    padding: 13px 30px;
    line-height: 22px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
    &[block] {
        display: flex;
        justify-content: center;
    }
    &[disabled="true"] {
        opacity: 0.7;
        pointer-events: none;
    }
    &[clear] {
        background-color: transparent;
        color: color($colors, defaultText);
    }
}