page-welcome {
    .scroll-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    ion-content .logo {
        width: 100%; // margin-top: 251px;
        height: 53px;
        display: block;
        object-fit: contain;
    }
    .title {
        font-family: OpenSans;
        margin-top: 33px;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
    }
    .subtitle {
        font-family: OpenSans;
        font-size: 14px;
        margin: 12px 42px 0 42px;
        line-height: 20px;
        text-align: center;
        color: #6c6e7f;
    }
    .next {
        margin: 52px 16px 0 16px;
    }
}